.postDetail{
    display:flex;
    margin-top:24px;
    margin-bottom:24px;
}
.profileImage{
    height:50px;
    width:50px;
    border-radius: 25px;
}
.userData{
    display:flex;
}
.left{
    width:50%;
}
.right{
    width: 50%;
    padding: 10px;
    margin-left:120px;
}
.profileImageIcon{
    margin-right:10px;
}
.hashTag{
    color:#8696FE;
}